<div class="row">
  <div class="col-6 offset-3">
    <div class="card">
      <div class="card-body">
        <p class="display-4 text-center">Registration Form</p>
        <form [formGroup]="registrationForm">
          <!-- email -->
          <div class="form-group mb-3">
            <label for="email">Email : </label>
            <input
              type="text"
              name="email"
              class="form-control"
              [formControl]="username"
            />

            <div *ngIf="username.touched && username.invalid">
              <div *ngIf="username.hasError('required')">
                <p class="alert alert-danger">Email is mandatory field</p>
              </div>
              <div *ngIf="username.hasError('email')">
                <p class="alert alert-danger">Email should be proper format</p>
              </div>
            </div>
          </div>
          <!-- password -->
          <div class="form-group mb-3">
            <label for="password">Password :</label>
            <input
              type="password"
              name="password"
              class="form-control"
              [formControl]="password"
            />
          </div>
          <!-- buttons -->
          <div class="form-group">
            <div class="row">
              <div class="col">
                <div class="d-grid">
                  <button class="btn btn-secondary" (click)="onRegistration()">
                    Register
                  </button>
                </div>
              </div>
              <div class="col">
                <div class="d-grid">
                  <button class="btn btn-warning">Reset</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
