<div class="container">
  <h1 class="text-center">The Post Blog</h1>

  <button class="btn btn-primary" (click)="toggle = !toggle">New Post</button>

  <app-new-post *ngIf="toggle" (onPostSuccess)="onPostSuccess()"></app-new-post>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>TItle</th>
        <th>Body</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of postCollection">
        <td>{{ post.id }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.body }}</td>
      </tr>
    </tbody>
  </table>
</div>
