<div class="container">
  <ul class="list-group">
    <li
      class="list-group-item mb-4"
      *ngFor="let user of users; index as i; first as isFirst; odd as isOdd"
    >
      <div class="row">
        <div class="col-4">
          <!-- index : {{ i }} || is this first elemenet ? {{ isFirst }} || is this
          Odd? {{ isOdd }} -->
          <app-user-image
            [user]="user"
            (childEvent)="onMoreInfo($event)"
          ></app-user-image>
        </div>
        <div class="col-8">
          <app-user-info [user]="user">
            <h3 class="heading">
              {{ user.firstName | titlecase }} {{ user.lastName | titlecase }}
            </h3>
          </app-user-info>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <app-user-comments [comments]="user.comments"></app-user-comments>
        </div>
      </div>
    </li>
  </ul>
</div>
