<div class="container">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-4">
          <img [src]="user.image" class="img-fluid img-rounded" />
          <br />
          <button (click)="onMoreInfo(user.company)" class="btn btn-info">
            More Info
          </button>
        </div>
        <div class="col-8">
          <h3>{{ user.firstName }} {{ user.lastName }}</h3>
          <p>Date : {{ user.dob }}</p>
          <p>Income : <span [innerHTML]="user.income"></span></p>

          <p>Total Votes : {{ user.votes }}</p>

          <input type="number" [(ngModel)]="user.votes" />
        </div>
      </div>
    </li>
  </ul>
</div>
