<header>
  <nav>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/auth']">Login/Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/users']">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/pipe-demo']">Pipe Demo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['observable-demo']">Obs Demo</a>
      </li>
    </ul>
  </nav>
</header>
